# Node modules
client/node_modules/
server/node_modules/

# Environment files
server/.env
client/.env

# Logs
*.log
npm-debug.log*

# Build output
client/dist/

# Operating System files
desktop.ini
.DS_Store

# VS Code
.vscode/

# Coverage
coverage/